@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Recipe List";
}

<div>
    <h3>We've gathered all of the most loved, highest rated dinner recipes in our Taste of Home collection. It’s the best of the best!</h3>
    <table class="table">
        <tbody>
            @foreach (var r in Model)
            {
            <tr>
                <td>
                    <img src="@r.ImageUrl" />
                </td>
                <td>
                    <a asp-route-recipeId=@r.RecipeId
                       asp-action="ViewRecipe">
                        <h3>@r.RecipeName</h3>
                        <form asp-action="Delete" method="post" asp-controller="Admin">
                            <input type="hidden" name="RecipeId" value="@r.RecipeId" />
                            <a class="btn btn-primary" asp-action="ViewRecipe" asp-route-RecipeId=@r.RecipeId asp-controller="Home">View Details</a>
                            <a class="btn btn-primary" asp-action="ReviewList" asp-route-RecipeId=@r.RecipeId asp-controller="Review">All Reviews</a><br>
                        </form>
                    </a><br>
                    <h4>@r.BriefDescription</h4>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Delete" method="post" asp-controller="Admin">
                            <input type="hidden" name="RecipeId" value="@r.RecipeId" />
                            <a class="btn btn-warning" asp-action="Edit" asp-route-RecipeId=@r.RecipeId asp-controller="Admin">Edit</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p></p>
    <div style="text-align:center">
        <a asp-action="Index"><h4>Back to Homepage</h4></a>
    </div>
</div>